@charset "UTF-8";

* {
margin: 0;
padding: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
    /**background-color: slateblue;**/
}

body {
    background: url("../imgs/table-made-with-planks-3000px.jpg") no-repeat top center;
    background-size: cover; 
    background-attachment: fixed;
}
main{
    position: relative;
    height: 100vh;
    no-repeat: center center;
    /*background-color: rebeccapurple;*/
}
section#note5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    height: 1003px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../imgs/galaxy note 5 500px .png") no-repeat center center;
    /*background-color: darkslateblue;*/
}
iframe#home {
    position: relative;
    top:-6px;
    left:0px;
    width:460px;
    height:816px;
}
section#social-medias{
    text-align: right;
    position: relative;
    top: 40%;
}
section#social-medias img {
    border-radius: 50%;
    width: 100px;
    height: auto;
    margin: 10px;
    box-shadow: 3px 3px 9px hsla(0, 0%, 0%, 0.6);
    
}

button:hover {
    transform: translate3d(-15px, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    border: -100px;
}
button{
    width: auto;
    height: auto;
    border-radius: 50%;
    margin: 5px;
    background-color: hsla(0, 0%, 5%, 0);
    border: none;
    cursor: pointer;
    transition: ease-in-out 0.33s;
}